<div  *ngFor="let categoria of  (showAll ? categorias : categorias.slice(0, 1))">
  <h1 class="menu-title">CARDÁPIO</h1>
  <div class="burger-grid">
    <div class="container-burguer">
      <div class="burger-card" *ngFor="let burger of (showAll ? burgers : burgers.slice(0, 3))">
        <div >
        <app-card  
        (click)="navigateToCategory(categoria.id)"
          [burger]="burger"
          [categorias]="categorias"
          [title]="categoria.name">
          
        </app-card> <!-- Correção feita aqui -->
      </div>
    </div>
  </div>
  <div class="buttons-container">
    <app-button 
      [label]="showAll ? 'MOSTRAR MENOS' : 'VER CARDÁPIO COMPLETO'" 
      type="filled" 
      size="large" 
      (click)="toggleMenu()">
    </app-button>
  </div>
</div>
</div>



